{%  extends "../base.html" %}

{% block content %}
<div>
    <h1>All project list:</h1>

</div>
<div>Hi there are currently {{ num_projects }} projects in the database.
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newProject">Add
        new project</button>
</div>
<div class="container">
    <div class="modal fade" id="newProject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/projects" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" name="buttonAddNewProject" id="buttonAddNewProject"
                            value="Submit">
                        </div>                      
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<br>
<hr>

<div>And here are {{  user.username }} projects (click on table row to see details):</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Owner</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for p in my_projects %}
        <tr data-href="{{ p.id }}">
            <td>{{ p.id }}</td>
            <td>{{ p.owner }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{%  endblock %}


{% block additional_scripts %}
<script>

    $(document).ready(function () {
        $('table tr').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });



</script>
{%  endblock %}