{%  extends "../base.html" %}

{% block content %}

<h1>Stories details:</h1>
<table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Created</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ details.id }}</td>
            <td>{{ details.name }}</td>
            <td>{{ details.description }}</td>
            <td>{{ details.creator }}</td>
            <td>{{ details.status }}</td>
            <td>{{ details.created }}</td>
            <td>{{ details.project.name }}</td>
        </tr>
        </tbody>
</table>

    <h2>Tasks assigned to current story:</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
                {%  for t in tasks %}
                <tr>
                    <td>{{ t.id }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.status }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'stories_list'  %}">Go back stories list</a>

{% endblock %}