{%  extends "../base.html" %}

{% block content %}

<h1>Stories details:</h1>
<table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Created</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ details.id }}</td>
            <td>{{ details.name }}</td>
            <td>{{ details.description }}</td>
            <td>{{ details.creator }}</td>
            <td>{{ details.status }}</td>
            <td>{{ details.created }}</td>
            <td>{{ details.project.name }}</td>
        </tr>
        </tbody>
</table>

    <a href="{% url 'stories_list'  %}">Go back to pull requests list</a>

{% endblock %}