{%  extends "../base.html" %}

{% block content %}

<h1>Repo details:</h1>
<table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ details.id }}</td>
            <td>{{ details.name }}</td>
            <td>{{ details.description }}</td>
            <td>{{ details.owner }}</td>
            <td>{{ details.status }}</td>
            <td>{{ details.created }}</td>
        </tr>
        </tbody>
</table>


{% endblock %}
