

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


table tr[data-href] {
    cursor: pointer;
}

.btn-success {
    float: right;
}

.modal-content {
    background-color: white;
}












