

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


table tr[data-href] {
    cursor: pointer;
}

.btn-success {
    float: left;
}

.modal-content {
    background-color: lightgrey;
}












